#contato{
    flex-direction: column;
    padding: 100px 0%;
    display: flex;
    min-height: calc(100vh - 91px);
    position: relative;
}
.form-contato{
    width: 35%;
    margin: 50px auto 0;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.form-contato input, .form-contato textarea{
    width: 100%;
    background-color: var(--color-primary-6);
    border: none;
    outline: none;
    padding: 15px 10px;
    border-radius: 15px;
    color: var(--color-neutra-1);
    font-size: 0.95rem;
}
.form-contato input::placeholder, .form-contato textarea::placeholder{
    color: var(--color-primary-2);
}
.form-contato textarea{
    resize: none;
    height: 200px;
}
.btn-enviar{
    margin-top: 25px;
    text-align: center;
}
.btn-enviar input{
    width: 120px;
    font-size: 0.9rem;
    font-weight: 500;
    background-color: var(--color-primary-2);
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    color: var(--color-primary-6);
}
.btn-enviar input:hover{
    background-color: var(--color-primary-6);
    color: var(--color-primary-2);
    transform: scale(1.05);
    transition: all 0.3s ease;
    box-shadow: 0 0 3px var(--color-primary-3), 0 0 6px var(--color-primary-3), 0 0 12px var(--color-primary-3), 0 0 24px var(--color-primary-3);
}