#inicio{
    margin-top: 90px;
    padding: 100px 0%;
    display: flex;
    min-height: calc(100vh - 91px);
    position: relative;
    justify-content: space-around;
}
.cta{
    display: flex;
    flex-direction: column;
}
.title-inicio{
    margin-top: 70px;
    font-size: 2.5rem;
    color: var(--color-primary-2);
}
.title-span{
    font-size: 1.5rem;
    color: var(--color-primary-3);
    margin-bottom: 60px
}
.descricao-inicio{
    color: var(--color-neutra-1);
    font-size: 1.1rem;
}
.img-topo-site img{
    height: 350px;
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}