#sobreMim{
    padding: 100px 0%;
    display: flex;
    min-height: calc(100vh - 91px);
    position: relative;
    justify-content: space-around;
    margin-bottom: 80px;
}
.cta-sobreMim{
    display: flex;
    flex-direction: column;
    width: 35%;
}
.title-sobreMim{
    margin-top: 20px;
    font-size: 2.5rem;
    color: var(--color-primary-2);
    line-height: 1;
}
.title-span-sobreMim{
    font-size: 1.5rem;
    color: var(--color-primary-3);
    margin: 0;
    padding: 0;
}
.descricao-sobreMim{
    margin-top: 20px;
    color: var(--color-neutra-1);
    font-size: 1.1rem;
    text-align: justify;
}
.img-sobreMim img{
    margin-top: 40px;
    height: 350px;
    position: relative;
}
