#sobreMim{
    padding: 100px 0%;
    display: flex;
    min-height: calc(100vh - 91px);
    position: relative;
    justify-content: space-around;
    margin-bottom: 80px;
}
.cta-sobreMim{
    display: flex;
    flex-direction: column;
    width: 35%;
}
.title-sobreMim{
    margin-top: 20px;
    font-size: 2.5rem;
    color: var(--color-primary-2);
    line-height: 1;
}
.title-span-sobreMim{
    font-size: 1.5rem;
    color: var(--color-primary-3);
    margin: 0;
    padding: 0;
}
.descricao-sobreMim{
    margin-top: 20px;
    color: var(--color-neutra-1);
    font-size: 1.2rem;
    text-align: justify;
}
.img-sobreMim img{
    margin-top: 70px;
    height: 350px;
    position: relative;
}
.social-buttons{
    display: flex;
    justify-content: flex-start;
    gap: 25px;
    margin-top: 30px;
}
.btn-social{
    width: 40px;
    height: 40px;
    background-color: var(--color-primary-6);
    border: 0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--color-primary-1);
    font-size: 24px;
    transition: transform 0.3s;
    cursor: pointer;
}

.btn-social:hover {
    background-color: var(--color-primary-6);
    color: var(--color-primary-2);
    transform: scale(1.05);
    transition: all 0.3s ease;
    box-shadow: 0 0 5px var(--color-primary-3), 0 0 10px var(--color-primary-3), 0 0 20px var(--color-primary-3), 0 0 20px var(--color-primary-3);
}
